/* ========== General Styling ==========  */
/* =============== Header ==============  */
/* ============= Main Sheet ============  */
/* ============= Main Class ============  */


/* ============================== General Styling ==============================  */


@font-face {
    font-family: 'Witcher';
    src: url(../assets/fonts/Thewitcher-jnOj.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Witcher', 'Almendra', serif;
}

body{
  background-image: url(../assets/images/melissa/melissabg.webp);
  background-repeat:repeat-x;
  background-size: cover;
  background-position: center;
  height: 140vh;
  position: relative;
}

body > * {
  position: relative;
  z-index: 2;
}

body::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 148, 2, .4);
}

h3{
  margin-right: 7px;
  font-family: 'Almendra', serif;
}

img{
  width: 125px;
}

.icons{
  width: 70px;
  height: 50px;
  display: flex;
}

.bi{
  font-size: 26px;
}

p{
  font-size: 32px;
}

.icons{
  color: #fff;
}

/* ===================================== Header =====================================  */

header{
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 25px;
}

#roll-outcome-box{
  margin-left: 600px;
  margin-top: 100px;
  text-align: center;
  z-index: 2;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 70px rgb(0 0 0 / .9);
  background: rgb(11,0,108);
  background: linear-gradient(90deg, rgba(11,0,108,1) 0%, rgba(255,0,0,1) 100%, rgba(252,176,69,1) 100%);
}

#roll-outcome-box::backdrop{
  background-color: rgba(5, 19, 145, .4);
  backdrop-filter: blur(2px);
}

#roll-outcome-box-close{
  border: 2px solid #000;
  color: #fff;
  margin: 10px;
  width: auto;
  background-color: #000;
  cursor: pointer;
  border-radius: 15px;
  display: block;
}

#roll-outcome-box-close:hover{
  color: red;
  transition: 150ms ease-in-out;
}

#roll-outcome-box-close:active{
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}


.avatar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px;
  margin-right: 5px;
}

.stats{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

.single-stat{
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px;  
  width: 150px;
  position: relative;
  margin-bottom: 3px;
}

.attr{
  display: flex;
}

input{
  background-color: #000;
  width: 60px;
  height: 20px;
  color: #fff;
  position: absolute;
  bottom: 5px;
  font-size: 18px;
  left: 20px;
}

.storagseh{
  width: 40px;
  left: 110px;
}

.storageseg{
  width: 40px;
  left: 50px;
}

.storageset{
  width: 40px;
  left: 50px;
}

.storagesen{
  width: 40px;
  left: 50px;
}

.storagesep{
  width: 40px;
  left: 110px;
}

.text{
  font-size: 26px;
}

button:hover{
  background-color: #111;
}

button:active{
  background-color: #fff;
  color: #000;
  font-weight: 700;
}

.buttonseh{
  background-color: #000;
  width: 40px;
  height: 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-family: 'Almendra', serif;
  position: absolute;
  bottom: 5px;
  left: 90px;
  cursor: pointer;
}

.buttonsev{
  background-color: #000;
  width: 40px;
  height: 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-family: 'Almendra', serif;
  position: absolute;
  bottom: 5px;
  left: 90px;
  cursor: pointer;
}

.buttonsem{
  background-color: #000;
  width: 40px;
  height: 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-family: 'Almendra', serif;
  position: absolute;
  bottom: 5px;
  left: 90px;
  cursor: pointer;
}

.buttonsep{
  background-color: #000;
  width: 40px;
  height: 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-family: 'Almendra', serif;
  position: absolute;
  bottom: 5px;
  left: 160px;
  cursor: pointer;
}

.buttonseg{
  background-color: #000;
  width: 40px;
  height: 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-family: 'Almendra', serif;
  position: absolute;
  bottom: 5px;
  left: 100px;
  cursor: pointer;
}

.buttonset{
  background-color: #000;
  width: 40px;
  height: 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-family: 'Almendra', serif;
  position: absolute;
  bottom: 5px;
  left: 100px;
  cursor: pointer;
}

.buttonsen{
  background-color: #000;
  width: 40px;
  height: 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-family: 'Almendra', serif;
  position: absolute;
  bottom: 5px;
  left: 100px;
  cursor: pointer;
}

.single-attr{
  color: #fff;
  width: 100px;
  height: 75px;
  background-color: #000;
  margin-left: 10px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 20px;
  cursor: pointer;
}

.upgrade-armour-box{
  margin: 10px 0;
  padding-left: 10px;
  display: flex;
}

.upgradesep{
  background-color: #000;
  width: 320px;
  height: 140px;
  color: #fff;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 20px;
  position: relative;
}

.animation{
  -webkit-animation: glowmelissa 1s ease-in-out infinite alternate;
  -moz-animation: glowmelissa 1s ease-in-out infinite alternate;
  animation: glowmelissa 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowmelissa {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00cc1bbe, 0 0 20px #00e90c, 0 0 25px #0cc706, 0 0 30px #1be400, 0 0 35px #159c03;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #177400, 0 0 20px #156e03, 0 0 25px #0f5501, 0 0 30px #176b02, 0 0 35px #167902, 0 0 40px #2e7902;
  }
}

.armour{
  display: flex;
}

.head{
  color: #fff;
  width: 200px;
  background-color: #000;
  font-size: 30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-left: 20px;
  padding-top: 10px;
  position: relative;
}

.torso{
  color: #fff;
  width: 200px;
  background-color: #000;
  font-size: 30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-left: 20px;
  padding-top: 10px;
  position: relative;
}

.legs{
  color: #fff;
  width: 200px;
  background-color: #000;
  font-size: 30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-left: 20px;
  padding-top: 10px;
  position: relative;
  padding-inline: 5px;
}

@media screen and (max-width: 500px) {

    body{
      height: 450vh;
    }

    main{
      display: flex;
      position: relative;
    }

    #main-class{
      width: 400px;
    }

    #character-skills{
      position: absolute;
      bottom: -620px;
      width: 400px;
    }

    #character-actions{
      position: absolute;
      bottom: -940px;
      width: 400px;
    }

    .attr{
      flex-wrap: wrap;
      flex-direction: column;
    }

    #roll-outcome-box{
      margin-left: 130px;
      margin-top: 140px;
    }

    #roll-outcome-box p{
      font-size: 28px;
    }

    .upgrade-armour-box{
      flex-direction: column;
      justify-content: center;
    }

    .armour{
      flex-wrap: wrap;
      flex-direction: column;
    }

    .arrr-skill-arm-box{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 30px;
    }

    .single-attr{
      margin-top: 10px;
    }

    .upgradesep{
      width: 200px;
      margin-bottom: 50px;
      margin-left: 20px;
    }

    .storagesep{
      left: 50px;
    }

    .buttonsep{
      left: 100px;
    }

    .head{
      width: 200px;
      height: 150px;
      margin-bottom: 50px;
      padding-top: 15px;
    }

    .torso{
      width: 200px;
      height: 150px;
      margin-bottom: 50px;
      padding-top: 15px;
    }

    .legs{
      width: 200px;
      height: 150px;
      padding-top: 15px;
    }

}

/* ============================ Main Sheet  ============================ */

main{
  min-height: 600px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

/* ============================ Main Class  ============================ */


#main-class{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .9);
  height: 600px;
  overflow-x: scroll;
}

.main-skill{
  width: 400px;
  margin-block: 10px;
}

.main-skill h3{
  letter-spacing: 1px;
}

.mgc-tr{
  display: inline;
  font-size: 22px;
}

.main-skill .small-text{
  font-size: 18px;
  font-family: 'Almendra', serif;
}

strong{
  font-family: 'Almendra', serif;
  font-weight: 700;
}



.roll-btn{
  font-family: 'Almendra', serif;
  border: 1px solid #fff;
  width: 100px;
  text-align: center;
  margin-left: 140px;
  display: block;
  cursor: pointer;
  background-color: #000;
  border-radius: 15px;
}

.roll-btn:hover{
  transition: 200ms ease-in-out; 
  background-color: #111;
}

.roll-btn:active{
  background-color: #fff;
  transition: 200ms ease-in-out; 
}

#character-skills{
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .9);
  overflow-x: scroll;
}

#character-actions{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .9);

}

/* ============================  Character Skills  ============================ */

.single-skill{
  width: 100%;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-start{
  border-top: 1px solid #fff;
}

.skill-heading{
  letter-spacing: 1px;
  font-family: 'Almendra';
}

.skill-roll-btn{
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 5px;
  padding: 5px 10px;
  background-color: #000;
  cursor: pointer;
}

.skill-roll-btn:hover{
  background-color: #111;
}

.skill-roll-btn-text{
  font-family: 'Almendra', serif;
  font-size: 24px;
}

.statvalue{
  display: flex;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background: #000;
}

::-webkit-scrollbar-thumb{
  background: green;
}

.small-text{
  font-family: 'Almendra', serif;
  font-size: 20px;
}

.stat-derv{
  border: 1px solid #fff;
  padding: 2px;
  border-radius: 9px;
}

.stat-derv span{
  font-family: 'Almendra', serif;
  font-size: 20px;
  margin-right: 7px;
}

.sztylet{
  font-family: 'Almendra', serif;
  border: 1px solid #fff;
  padding: 2px;
  border-radius: 9px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#roll-sztylet{
  font-family: 'Almendra', serif;
  padding: 5px 15px;
  border-radius: 15px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Almendra', serif;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
}

#roll-sztylet:hover{
  background-color: #111;
}

#roll-sztylet:active{
  background-color: #fff;
  color: #000;
}

.outcome-sztylet{
  font-family: 'Almendra', serif;
  width: 80px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roll-outcome-sztylet{
  font-family: 'Almendra', serif;
  width: 80px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dmg-sztylet{
  font-family: 'Almendra', serif;
  width: 80px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bdy-part-sztylet{
  font-family: 'Almendra', serif;
  width: 80px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weapon-window{
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.weapon-attack-outcomes{
  display: flex;
  justify-content: space-evenly;
}

.weapon-img{
  width: 270px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-image: url(../assets/images/melissa/sztylet.png);
  background-size: cover;
  background-position: center;
}

.weapon-description{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}